---
layout: default
title: Raddish API {{#if name}} - {{{name}}} {{/if}}
header: {{{name}}}
ignore_title: true
---

<div class="layout with-left-sidebar js-layout">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            {{>sidebar}}
        </div>

        <div class="col-md-9">
            <a href="https://github.com/JaspervRijbroek/raddish/tree/master/{{{file}}}#L{{{line}}}" target="_blank" style="text-decoration: none;">
                <h3 class="category-title">
                    API
                    {{#if name}}
                        <small>
                            - {{{name}}}
                        </small>
                    {{/if}}
                </h3>
            </a>

            {{>layout_content}}
        </div>
    </div>
</div>