<div class="row">
    <div class="col-md-12">
        <h1>{{name}} Class</h1>
        <div class="description">
            {{{classDescription}}}
        </div>

        {{#if extends}}
            <div class="extends">
                Extends {{#crossLink extends}}{{/crossLink}}
            </div>
        {{/if}}

        {{#if foundAt}}
            <div class="foundat">
                Defined in: <a href="https://github.com/JaspervRijbroek/raddish/tree/master/{{{file}}}#L{{{line}}}" target="_blank">`{{{file}}}:{{{line}}}`</a>
            </div>
        {{/if}}
    </div>
</div>

{{#if methods}}
    <hr/>

    <h2>Methods</h2>
    <div class="row">

        {{#methods}}
            <div class="col-md-12 method">
                {{>method}}

                <hr />
            </div>
        {{/methods}}
    </div>
{{/if}}