<div class="list-item">
    <div class="list-item-header">
        <h3 class="list-item-title">
            <a href="https://github.com/JaspervRijbroek/raddish/tree/master/{{{file}}}#L{{{line}}}" target="_blank">
                {{name}} ({{#if params}}<small>{{#params}}{{name}}{{#unless @last}}, {{/unless}}{{/params}}</small>{{/if}})
            </a>
        </h3>
        <span class="list-item-meta">
            {{#if access}}
            <a href="javascript:void(true);">{{access}}</a>
            {{/if}}
        </span>
    </div>
    <div class="list-item-content">
        <p>
        {{#stripHtml methodDescription}}{{/stripHtml}}
        </p>

        {{#if params}}
        <strong>Parameters</strong>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {{#params}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{type}}</td>
                        <td>{{#stripHtml description}}{{/stripHtml}}</td>
                    </tr>
                {{/params}}
            </tbody>
        </table>
        {{/if}}

        {{#return}}
        <p>
            <strong>Returns</strong>{{#if type}} {{#crossLink type}}{{/crossLink}}{{/if}}: {{#stripHtml description}}{{/stripHtml}}
        </p>
        {{/return}}
    </div>
</div>